[Desktop Entry]
Name=Settings
Name[zh_CN]=设置
Exec=cutefish-settings
Icon=preferences-system
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
